:root {
  --font-size--base: 1.6rem;
  --font-size--ratio: 1.2;
  
  font-size: 0.625em;
  color: #5b56d8;
  background-color: #0c0220;
}

body {
  font-size: var(--font-size--base);
}

h1 {
  font-size: calc(1em * pow(var(--font-size--ratio), 6));
}

h2 {
  font-size: calc(1em * pow(var(--font-size--ratio), 5));
}

h3 {
  font-size: calc(1em * pow(var(--font-size--ratio), 4));
}

h4 {
  font-size: calc(1em * pow(var(--font-size--ratio), 3));
}

h5 {
  font-size: calc(1em * pow(var(--font-size--ratio), 2));
}

h6 {
  font-size: calc(1em * var(--font-size--ratio));
}

fieldset:has(input[type="text"]) {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

input:focus[type="text"] {
  outline: 2px solid #5b56d8;
  outline-offset: 2px;
}

button {
    background-color: #726fd1;
    border-radius: 7px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4ms;
    margin-top: 1rem;
}

button:hover {
    background-color: #5b56d8;
    color: white;
}


